<div class="text-center">
    <!-- {{name}} & {{description}} are just a place holders for all of the blogs coming from the blog object. -->
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary">Blog!</button>
  </p>
</div>
